*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1, h2, h3{

    color: #3a4661;
    font-weight: 300;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.contenedor-servicios{

    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;

}

h1{
    font-size: 50px;
}

header::before{
    content: "";
    display: block;
    margin-bottom: 80px;
}

nav{
    width: 100%;
    height: 80px;
    background: #f2f3f3;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 0 40px;
}

.nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
}


.nav .logo{
    height: 80px; 
}

.nav .logo img{
    background: #f2f3f3;
    height: 80px;
    vertical-align: top;
}

.enlaces{
    font-weight: 300;
    transition: ease-in-out 0.5s;
}

.nav .enlaces a{
    color: #808799;
    font-size: 120%;
    text-decoration: none;
    margin-left: 20px;
}

.nav .enlaces a:hover{
    background:#1cc2a8;
}

.menu{
    width: 80px;
    height: 80px;
    display: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    transition: color 0.5s ease-in;

}

.menu > i{
    font-size: 25px;
    line-height: 90px;
}

.contenido-cuerpo{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-content: center;

}

.contenido-cuerpo img{
    width: 500px;
    height: 300px;
    animation: ease-in animat 1s;
    border-radius: 5%;
}

@keyframes animat{
    0%{
        transform: scale(0);
    }100%{
        transform: scale(1);
    }
}

.texto-cuerpo{
    margin: 0 0 0 30px;
}

.texto-cuerpo p{
    font-weight: 100;
    margin-top: 14px;
    color: #5d6678;
}

.texto-cuerpo a{

    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #1cc2a8;
    text-align: center;
    color: #f2f3f3;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}

.servicios{
    background: #f2f2f2;
}

.contenedor-articulo{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;
}

.titulo{
    font-size: 50px;
}

.articulo{
    width: 45%;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    transition: 0.5s;
}

.articulo:hover{
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}

.articulo>i{
    font-size: 30px;
    color: #fff;
    background: #1cc2a8;
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50px;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}

.articulo>h3{
    font-size: 24px;
    margin-top: 30px;
}

.articulo>p{
    font-weight: 100;
    color: #5D6678;
    margin-top: 15px;
    padding-bottom: 20px;
}

.articulo>a{
    color: #5D6678;
    font-weight: 400;
    text-decoration: none;
}

.articulo>a:hover{
    color: #1cc2a8;
    transition: color .5s;
}

footer{
    background: #f2f2f2;
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
}

.contenedor-Footer{
    width: 20%;
    text-align: center;
}

.contenedor-Footer h3{
    color: #1d273b;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.contenedor-Footer a{
    display: block;
    text-decoration: none;
    color: #5d6678;
    font-weight: 300;
    transition: color .3 ease-in-out;
    margin-bottom: 10px;
}

.contenedor-Footer a:hover{
    color:#1cc2a8;
}

.contenedor-Footer img{
    width: 70%;
}

.redes-Sociales i{
    font-size: 20px;
    display: inline-block;
    color: #adb6c7;
    border: 1px solid #adb6c7;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 38px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
}

.redes-Sociales i:hover{
    color: #fff;
    background: #1cc2a8;
    border-color: #1cc2a8;
}

.banner {
    width: 100%;
    overflow: hidden;
    
}

.slider {
    display: none;
    scroll-snap-type: x mandatory;
}

#slider1, #slider2, #slider3 {
    width: 100%;
    height: auto;
}

.slider>img{
    width: 100%;
    height: 450px;
}

.active {
    display: block;
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.contenedor-mtto{

    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding-top: 5%;
}
.contenido1{
    padding-top: 5%;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-content: left;

}

.contenido1 img{
    width: 500px;
    height: 630px;
    animation: ease-in animat 1s;
    border-radius: 5%;
}

.contenido-mtto{
    margin: 0 0 0 25px;
    text-align: center;
    padding-top: 60px;
}

.contenido-mtto p{
    max-width: 400px;
    font-weight: 100;
    margin-top: 14px;
    color: #5d6678;
}

.contenido-mtto a{

    margin: 28px 0 0 0;
    width: 350px;
    display: inline-block;
    background: #1cc2a8;
    text-align: center;
    color: #f2f3f3;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}


.contenedor-ubicacion{
    width: 90%;
    max-width: 1000px;
    max-height: 750px;
    margin: auto;
    overflow: hidden;
    padding-top: 5%;
}

.contenedor-iframe{
    padding-top: 5%;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-content: left;

}

.contenedor-iframe iframe{
    width: 500px;
    height: 350px;
    animation: ease-in animat 1s;
    border-radius: 5%;
}

.texto-ubicacion p{
    font-weight: 100;
    color: #5D6678;
    margin-top: 10px;
    padding-bottom: 20px;
}

.texto-ubicacion>i{
    font-size: 20px;
    color: #fff;
    background: #1cc2a8;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}
.texto-ubicacion p>a{
    color: #5D6678;
    text-decoration: none;
}

.contenedor-Formulario{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 0px 0px;
}

.contenido-formulario{
    padding-top: 5%;
    width: 100%;
    height: 1050px;
    display: flex;
    justify-content: space-between;
    align-content: left;

}

.contenido-formulario img{
    width: 400px;
    height: 350px;
    animation: ease-in animat 1s;
    border-radius: 5%;
}

.Formulario{
    margin: 0 0 0 20px;
    width: 55%;
}

.Formulario form{
    max-width: 700px;
    margin: 0 auto;
}

.Formulario fieldset {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: 100;
    color: #5d6678;
}

.Formulario label {
    display: block;
    margin-bottom: 5px;
    max-width: 400px;
    font-weight: 100;
    color: #5d6678;
}

.Formulario input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 100;
    color: #5d6678;
}

.Formulario input[type="radio"] {
    margin-right: 5px;
}

.Formulario input[type="submit"],
input[type="reset"] {
    justify-content: center;
    width: 200px;
    background: #1cc2a8;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}

.Formulario input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #248a7a;
}

.Formulario label[for="hombre"],
label[for="mujer"],
label[for="nodecirlo"] {
    display: inline-block;
    margin-right: 10px;
}

.Formulario input[type="submit"],
input[type="reset"] {
    display: inline-block;
    margin-right: 10px;
}

.Formulario legend {
    margin-bottom: 10px;
}

.Formulario br {
    margin-bottom: 10px;
}

.contenedor-Mision{
    padding-top: 5%;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.texto-Mision{
    margin: 0 0 0 30px;
}

.texto-Mision p{
    font-weight: 100;
    margin-top: 14px;
    color: #5d6678;
    max-width: 450px;
}
